<div class="Int simulation">
  <div class="container text-center">
    <h2 class="block-title">Simulez votre microcrédit en ligne</h2>
    <form id="pret-form" method="post" action="/">
      <div class="col-md-4">
        <input type="text" name="montant" [(ngModel)]="montant" (change)="simule()" placeholder="Montant*" class="form-control" maxlength="5" id="pret-montant">
      </div>
      <div class="col-md-4">
        <input type="text" id="pret-duree" [(ngModel)]="duree" name="duree" (change)="simule()" class="form-control" maxlength="2" value="12">&nbsp; mois
      </div>
      <div class="col-md-4">
        <input type="submit" class="submit button" value="Calculer" (click)="simule()">
      </div>
      <!--<span class="min">* 10 000 &euro; maximum</span>-->
    </form>
    <div class="clearfix"></div>
    <div class="total col-md-3">
      <p class="title">Total emprunté</p>
      <p class="min-res res"><span id="total-emprunt" >{{montant | currency:'EUR':'symbol':'1.0-2':'fr-FR'}} </span></p>
    </div>
    <div class="duree col-md-3">
      <p class="title">Durée de remboursement</p>
      <p class="min-res res"><span *ngIf="duree" id="duree-remb">{{duree}} mois</span></p>
    </div>
    <div class="montant col-md-3">
      <p class="title">Montant échéance</p>
      <p class="min-res res"><span id="pret-montant-ech">{{mensualite | currency:'EUR':'symbol':'1.0-2':'fr-FR'}} </span></p>
    </div>
    <div class="cout col-md-3">
      <p class="title">Coût total du financement</p>
      <p class="res"><span id="pret-cout-total">{{coutCredit | currency:'EUR':'symbol':'1.0-2':'fr-FR'}} </span></p>
    </div>
    <div class="clearfix"></div>
    <div><a href="/orientation" class="button color0" style="text-decoration:none;">Je demande un microcrédit en ligne</a></div>
    <p class="minilinks">
      <a href="#">Conditions de prêt</a><br>
      <a href="#">Rencontrez Sofinco, mode d'emploi</a>
    </p>
  </div>
</div>
